<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Madlib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill in the following form with a noun, adjective, verb, and number to create a custom madlib!</h1>
    <form action="/madlib" method="post">
     <label for="verb">Verb</label>
     <input id="verb" name="verb" type="text">
     <label for="noun">Noun</label>
     <input id="noun" name="noun" type="text">
     <label for="noun2">Noun 2</label>
     <input id="noun2" name="noun2" type="text">
     <label for="adjective">Adjective</label>
     <input id="adjective" name="adjective" type="text">
     <label for="number">Number</label>
     <input id="number" name="verb" type="number">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>